* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header {
	background-color: #FF9A4B;
	height: 50px;
}

main {
	display: flex;
	width: 960px;
	margin: 50px auto;
}

.step-box {
	position: relative;
	background-color: #EEEEEE;
	padding: 10px;
	margin-right: 30px;
	width: 300px;
}

.step-box:last-child {
	margin-right: 0;
}

.step-image1, .step-image2, .step-image3 {
	height: 150px;
	background-position: bottom;
	background-size: cover;
}

.step-image1 {
	background-image: url(img/flow01.png);
}

.step-image2 {
	background-image: url(img/flow02.png);
}

.step-image3 {
	background-image: url(img/flow03.png);
}

.step-label {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #FF9A4B;
	color: #FFFFFF;
}

.step-title {
	padding: 15px 0 5px 0;
}

.footer {
	background-color: #AAAAAA;
	height: 50px;
}


/* メディアクエリ768px以下の時に適用 */
@media screen and (max-width: 768px) {
  main {
    width: 100%;
    display: inline-block;
  }
  .step-box {
  	width: 90%;
  	margin: 0 auto 20px auto;
  }
  .step-box:last-child {
  	margin: 0 auto;
  }
}